.logo {
    width: 190px;
    height: 190px;
    margin-top: 30px;
}
.header {
    background-image: url("football_pitch_background_2.jpg");
    margin-bottom: 20px;
    height: 260px;
    
}
.img-fluid  { 
    max-width: 100%;
    height: auto;
}

.main {
    height: 70px;
    width: 318px;
    background-image: linear-gradient(rgb(75, 136, 67), rgb(168, 201, 125));
    margin: 10px;
    text-align: center;
    line-height: 70px;
    box-shadow: 8px 8px 5px grey;
    color: whitesmoke;
    border-radius: 25px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* sdjhfslkdf */
}

.btn {
    font-size: 35px;
    margin-left: 350px;
}
.nav {
    background-color: rgb(216, 213, 213);
    
}
    


